@import './assets/styles/variables.scss';

.headphones {
  text-align: center;
}

.headphones-logo {
  height: 80px;
}

.headphones-header {
  background-color: $primary-background-color;
  height: 150px;
  padding: 20px;
  .headphones-title {
    font-size: 1.5em;
    color: $primary-foreground-color;
    font-family: $primary-font-family;
    font-weight: 100;
    text-transform: uppercase;
  }
}

.headphones-intro {
  font-size: large;
}

@keyframes headphones-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
