// Color Scheme
$royalty: #351330;
$favorite-jeans: #424254;
$sail-boats: #64908A;
$tuileries: #E8CAA4;
$amaranth: #CC2A41;

$primary-foreground-color: #FFFFFF;
$primary-background-color: #CC2A41;

$primary-font-family: Roboto, Sans-Serif;